{% extends 'base.html' %}

{% block content %}
<div class="row mt-3 mb-3">
    <div class="col">
        <div class="row mt-2 mb-3">
            <div class="col">
                <h3>What are you going to do today?</h3>
            </div>
        </div>
        <div class="row mt-2 mb-3">
            <div class="col mb-4">
                <h4 class="">You can add as many TASKS as you want!</h4>
            </div>
        </div>
        <legend>Add Task:</legend>
        <form action="{% url 'add_todo' %}" method="post">
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" name="content" placeholder="Type Here...">
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary mb-2">Add</button>
            </div>
          </div>
        </form>
        <div class="row mt-3 mb-3">
            <div class="col p-7">
                <ul class="list-group">
                  {% for todo_item in todo_items %}
                  <li class="list-group-item">
                      {{ todo_item.text }}
                      <div class="float-right">
                          <form action="{% url 'delete_todo' todo_item.id %}" method="post">
                              <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                          </form>
                      </div>
                  </li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}